@import "../../theme/theme.scss";

.ul-list {
  margin: $space-stack-m;
  padding: $space-m;
  list-style: circle;
}
.li-list {
  padding: $space-xs 0;
  font-size: $font-size-s;
  line-height: $font-lineHeight-l;
}
