@import "../../theme/theme.scss";

.article {
  padding: $space-inset-default;
  margin: 0 auto;
}

//tablet
@media screen and (min-width: 600px) {
  .article {
    padding: calc(#{$space-default}) calc(#{$space-default} * 2);
    max-width: $text-maxWidth-tablet;
  }
}

//desktop
@media screen and (min-width: 1024px) {
  .article {
    padding: calc(#{$space-default} * 2 + 90px) 0 calc(#{$space-default} * 2);
    max-width: $text-maxWidth-desktop;
  }
}
