    <footer  class="footnote footnote-tiffany">
        <div class="container">
                <a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><span class="octicon octicon-mail"></span></a>
                <a class="foot-item" href="https://github.com/{{ site.github.username }}" target="_blank"><span class="octicon octicon-mark-github"></span></a>
                <!-- <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><span class="octicon octicon-rss"></span></a> -->
                <a class="foot-item" href="{{ '/about/' | prepend: site.baseurl | prepend: site.url }}"><span class="octicon octicon-person"></span></a>
                &nbsp;
                <a href="https://github.com/bingbingpa"><span class="word-keep">&copy; bingbingpa</span></a>
        </div>
    </footer>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.3&appId=1922266284540062&autoLogAppEvents=1"></script>
    <script type="text/javascript" src="{{'/static/externlib/jquery-1.11.3/jquery.min.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    <script type="text/javascript" src="{{'/static/externlib/bootstrap-3.3.0/bootstrap.min.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    <script type="text/javascript" src="{{'/static/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    <script async src="https://cse.google.com/cse.js?cx=013741748697158529306:fpg0kgx5pfm"></script>
    {% for script in page.scripts %}<script type="text/javascript" src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
    {%endfor%}