@import "../../theme/theme.scss";

.header {
  align-items: center;
  justify-content: center;
  background-color: $color-neutral-white;
  display: flex;
  height: $header-height-default;
  position: relative;
  top: 0;
  width: 100%;

  :global(a.logoType) {
    align-items: center;
    display: flex;
    flex-direction: "column";
    color: $text-color-primary;

    .logo {
      flex-shrink: 0;
    }
  }

  &.homepage {
    position: absolute;
    background-color: transparent;
    height: $header-height-homepage;
  }
}

.h1-header {
  font-size: $font-size-m;
  font-weight: $font-weight-standard;
  margin: $space-stack-xs;
}

.h2-header {
  font-weight: $font-weight-standard;
  font-size: $font-size-xxs;
  letter-spacing: 0;
  margin: 0;
}

.logo {
  border-radius: 65% 75%;
  border: 1px solid #eee;
  display: inline-block;
  height: 44px;
  margin: $space-inline-default;
  overflow: hidden;
  width: 44px;
  transition: all 0.5s;

  .homepage & {
    height: 60px;
    width: 60px;
  }

  img {
    width: 100%;
  }
}

.sensor-homepage {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  height: 1px;
  top: $header-height-homepage;
}

.sensor-default {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  height: 1px;
  top: $header-height-default;
}

//tablet
@media screen and (min-width: 600px) {
  .header {
    padding: $space-inset-l;

    &.homepage {
      height: $header-height-homepage;
    }
  }
}

// !desktop
@media screen and (max-width: 1023px) {
  .header.homepage {
    .logo {
      border: none;
    }

    :global(a.logoType),
    .h1-header {
      color: $color-neutral-white;
    }
    .h2-header {
      color: $color-neutral-gray-d;
    }
  }
}

//desktop
@media screen and (min-width: 1024px) {
  .header {
    align-items: center;
    background-color: $color-neutral-white;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    transition: padding 0.5s;

    &.fixed {
      height: $header-height-fixed;
      background-color: $color-neutral-white;
      left: 0;
      padding: 0 $space-m;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;

      .h1-header {
        margin: $space-stack-xxs;
      }

      .h2-header {
        display: none;
      }
    }

    &.homepage:not(.fixed) {
      :global(a.logoType),
      .h1-header {
        color: $color-neutral-white;
      }
      .h2-header {
        color: $color-neutral-gray-d;
      }
    }
  }

  .header :global(a.logoType) {
    text-align: left;
    flex-direction: row;
    flex-shrink: 0;
    width: auto;
  }

  .logo {
    margin: $space-inline-default;

    .fixed & {
      height: 36px;
      width: 36px;
    }

    .header.homepage:not(.fixed) & {
      border: none;
    }
  }

  h2 {
    animation-duration: $time-duration-default;
    animation-name: h2Entry;
  }

  @keyframes h2Entry {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
