@import "../../theme/theme.scss";

.footer {
  background: $color-neutral-white;
  padding: 0 $space-inset-default 120px;

  :global(ul) {
    list-style: none;
    text-align: center;
    padding: 0;

    :global(li) {
      color: $color-neutral-gray-g;
      font-size: $font-size-xxs;
      padding: $space-xxs $space-s;
      position: relative;
      display: inline-block;

      &::after {
        content: "•";
        position: absolute;
        right: calc(#{$space-xs} * -1);
      }
      &:last-child::after {
        content: "";
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 1em 1.5em;
  }
}
