@import "../../theme/theme.scss";

.main {
  padding: 0 $space-inset-default;
}

.blog-ul {
  list-style: none;
  margin: 0 auto;
  padding: calc(#{$space-default} * 1.5) 0 calc(#{$space-default} * 0.5);
}

@media screen and (min-width: 601px) {
  .main {
    padding: 0 0 calc(#{$space-default} * 1.5);
  }
  .blog-ul {
    max-width: $text-maxWidth-tablet;
  }
}
@media screen and (min-width: 1025px) {
  .blog-ul {
    max-width: $text-maxWidth-desktop;
  }
}
