@import "../../theme/theme.scss";

.author {
  margin: $space-l 0;
  padding: $space-l 0;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
}
.avatar {
  float: left;
  border-radius: 65% 75%;
  border: 1px solid $line-color;
  display: inline-block;
  height: 50px;
  margin: 5px 20px 0 0;
  overflow: hidden;
  width: 50px;
}
.avatar img {
  width: 100%;
}
.note {
  font-size: 0.9em;
  line-height: 1.6;
}

//tablet
@media screen and (min-width: 600px) {
  .author {
    display: flex;
  }
  .avatar {
    flex: 0 0 auto;
  }
}
